<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">Home page</button>
  </div>

  <div class="info">
    <strong>Sergio Orlov</strong>
    <small>12/09/2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at dicta dignissimos ducimus hic impedit maxime odio repudiandae tempore tenetur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at dicta dignissimos ducimus hic impedit maxime odio repudiandae tempore tenetur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at dicta dignissimos ducimus hic impedit maxime odio repudiandae tempore tenetur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at dicta dignissimos ducimus hic impedit maxime odio repudiandae tempore tenetur.</p>
  </div>
</div>
